{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Name</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for h in holdings %}
            <tr>
                <th scope="row">{{ h.symbol }}</th>
                <td>{{ h.name }}</td>
                <td>{{ h.shares }}</td>
                <td>{{ h.price | usd }}</td>
                <td>{{ h.total | usd }}</td>
            </tr>
            {% endfor %}
            <tr class="border-0">
                <td colspan="5" style="height: 20px; border: none;"></td>
            </tr>
        </tbody>
        <tfoot class="table-dark">
            <tr>
                <th scope="row">Cash</th>
                <th>{{ cash | usd }}</th>
            </tr>
            <tr>
                <th scope="row">Aggregate Stock Price</th>
                <th>{{ stocks_total | usd }}</th>
            </tr>
            <tr>
                <th scope="row">Net Worth</th>
                <th>{{ grand_total | usd }}</th>
            </tr>
        </tfoot>
    </table>

{% endblock %}